    <div class="content-divider"></div>

    <section id="card">
      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Top Cities in the World to Visit</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg selection"
              style="background-image: url('images/Paris.jpg')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  <a href="/paris">
                    Paris, France
                  </a>
                </h2>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg selection"
              style="background-image: url('images/NewYork.jpg')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  <a href="/newyork">
                    New York City, USA
                  </a>
                </h2>
        
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg selection"
              style="background-image: url('images/London.jpg')"
            >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  <a href="/london">
                    London, England
                  </a>
                </h2>
                
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="content-divider"></div>

    <section id="footer">
      <div>
        <p>© Copyright 2022 Mon Weather</p>
      </div>
    </section>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
