<%- include("partials/header") -%>

    <div class="container px-4 py-5" id="top-city">
        <h2 class="pb-2 border-bottom">Newyork is currently at <%= temp %>°C<br></h2>
        <small>The weather is <%= weatherDescription %></small>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
            <div class="feature col">
                <img class="img-fluid" src="images/Paris.jpg" alt="">
                <h2><br>New York City, USA</h2>
                <p>
                    There are so many elements that make New York City one of the best cities in the 
                    world. The city and the Statue of Liberty that travelers see as they arrive is 
                    symbolic of the culture and freedom that America stands for. The Big Apple is the 
                    financial hub of the United States, with Wall Street and international businesses.<br><br>
                    Most people visit New York City just to be a part of the city scene. It is where people 
                    go to make dreams come true, with experiences like seeing a Broadway show, watching the 
                    famous ball drop on New Year's Eve in Times Square, and taking part as a spectator watching 
                    the elaborate floats go by in the Thanksgiving Day parade.<br><br>
                    New York City is where things happen, and travelers enjoy having a taste of 
                    that excitement. It's another one of those great bucket list destinations that you can 
                    visit at any time of year, even winter in NYC is fun.
                </p>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>