<%- include("partials/header") -%>

    <div class="container px-4 py-5" id="top-city">
        <h2 class="pb-2 border-bottom">Paris is currently at <%= temp %>°C<br></h2>
        <small>The weather is <%= weatherDescription %></small>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
            <div class="feature col">
                <img class="img-fluid" src="images/Paris.jpg" alt="">
                <h2><br>Paris, France</h2>
                <p>
                    Paris, France remains one of the most loved cities to visit in the world 
                    because it is an iconic destination for grand life events, like milestone vacations, 
                    engagements, celebrations, and honeymoons. It is also an easy place to visit for quick 
                    getaways, with regular flight schedules and tours available.<br><br>
                    Many travelers enjoy Paris for the art and go to see the galleries and museums, 
                    like the Louvre Museum and the Musee d'Orsay. Some travelers go to Paris because 
                    it is a bucket list destination for many people. They want to see the Eiffel Tower, 
                    the Notre-Dame Cathedral, and the Arc de Triomphe in person.<br><br>
                    Paris is notoriously a city of romance, so many marriage proposals happen frequently 
                    in Paris, and honeymooners enjoy vacationing with a romantic cruise down the Seine River.<br><br>
                    The time of year you visit may determine some of your activties, but even in winter 
                    there are plenty of things to do in Paris.
                </p>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>
